name: Release CLI

on:
  push:
    tags:
      - 'v*.*.*'
  workflow_dispatch: {}

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18
          registry-url: https://registry.npmjs.org

      - name: Install dependencies
        run: npm install

      - name: Pack npm package
        run: npm pack

      - name: Publish to npm
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: npm publish --access public

      - name: Create Git tag
        run: |
          git tag v$(node -p "require('./package.json').version")
          git push origin v$(node -p "require('./package.json').version")

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            create-k3s-scaffold-$(node -p "require('./package.json').version").tgz
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
